@model List<Lab.MVC.Models.EmployeesView>

@{
    ViewBag.Title = "Employees Page";
}
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-12">
            <h1>Listado de empleados</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model)
                    {
                        <tr>
                            <td>@employee.FirstName</td>
                            <td>@employee.LastName</td>
                            <td>@employee.City</td>
                            <td>@employee.Address</td>
                            <td>@employee.HomePhone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
